{% extends 'website/base.html' %}

{% block body %}
{% load static %}
{% if object_list %}
<ul>
  {% for movie in object_list %}
    <div class="col-sm-4 col-lg-2">
      <div class="thumbnail">
        <a href="{% url 'Ebooking:detail' movie.id %}">
          <img src="{{ movie.movie_picture.url }}" class="img-responsive">
        </a>
        <div class="caption">
          <h2>{{ movie.movie_title }}</h2>
	  
          <!-- View Details -->
	  {% for showtime in movie.showtime_set.all %}
	  {{showtime.time}}
	  <br>
	  {% endfor %}
          <a href="{% url 'Ebooking:detail' movie.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>
	  
        </div>
      </div>
    </div>
    {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
  {% endfor %}
</ul>

{% else %}

<p> There are no movies </p>

{% endif %}

{% endblock %}
